* {
  margin: 0;
  padding: 0;
}

#main {
  position: relative;
  width: 512px;
  height: 448px;
  margin: 100px auto;
  /*border: 1px solid black;*/
}

#main>canvas {
  position: absolute;
  left: 0;
  top: 0;
}
